@model SmpsPortal.Core.ViewModels.ParentViewModel
@using SmpsPortal.Core.Models
@using Syncfusion.JavaScript
@using Syncfusion.JavaScript.Models
@using Syncfusion.MVC.EJ
@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="row">
       

        <div class="col-md-12">
            @Html.ActionLink("Add New", "Create", "Parent", new { @class = "btn btn-info" })
            <p></p>
            <div class="panel panel-default pan2">
                <!-- Default panel contents -->
                <div class="panel-heading">@Model.Heading</div>

                <div>

                    @(Html.EJ().Grid<Parent>("Grid1")
                            .Datasource((IEnumerable<object>)ViewBag.datasource)
                            .AllowPaging()

                          .Columns(col =>
                          {
                              col.HeaderText("Action").Template(true).Template("#columnTemplate").TextAlign(TextAlign.Center).Width(50).Add();
                              col.HeaderText("Students").Template(true).Template("#studentTemplate").TextAlign(TextAlign.Center).Width(50).Add();
                              col.HeaderText("Image").Template(true).Template("#imageTemplate").TextAlign(TextAlign.Center).Width(60).Add();
                              col.Field("Id").HeaderText("Id").IsPrimaryKey(true).Visible(false).AllowEditing(false).TextAlign(TextAlign.Right).ValidationRules(v => v.AddRule("required", true).AddRule("number", true)).Width(20).Add();
                              col.Field("ImageUrl").HeaderText("ImageUrl").Visible(false).Add();
                              col.Field("Name").HeaderText("Name").Width(120).Add();
                              col.Field("Email").HeaderText("Email").Width(120).Add();
                              col.Field("Phone").HeaderText("Phone").Width(80).Add();
                              col.Field("Occupation").HeaderText("Occupation").Width(70).Add();

                          })
                    )

                </div>


            </div>


        </div>

    </div>
</div>



@section scripts{

    <script type="text/x-jsrender" id="columnTemplate">
        <a href="../Parent/Edit/{{:Id}}"> Edit </a>
    </script>
    <script type="text/x-jsrender" id="studentTemplate">
        <a href="../Parent/StudentParent/{{:Id}}"> Students </a>
    </script>
    <script type="text/x-jsrender" id="imageTemplate">

        <div class="circle-avatar-medium" style="background-image: url(../Images/Profile/{{:ImageUrl}})">

        </div>

    </script>
}
