@model SmpsPortal.Core.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    
    <div class="col-md-12 md-row">
        <div class="row">
            <div class="jumbotron">
                <h1>E-LEARNING SYSTEM</h1>
                <p> WELCOME TO THE ELEARN</p>
            </div>
        </div>
      
    </div>
</div>